.fxs_c_header {
    display: none;
}

.fxs_c_item {
    min-height: 40px;
    line-height: 30px;
}

.fxs_c_first.fxs_c_divider {
    width: 40px;
}

.fxs_c_third.fxs_c_divider,
.fxs_c_second.fxs_c_divider {
    width: calc(100% - 40px);
}

.fxs_c_item>label {
    font-weight: 300;
}

.fxs_c_item>label,
.fxs_c_item>span {
    width: 100%;
    float: left;
    line-height: 14px;
    height: 14px;
}

.fxs_c_item.fxs_c_expandable {
    display: none;
}

.fxs_c_item.fxs_c_impact {
    margin: 0 10px
}

.fxs_c_item.fxs_c_flag {
    width: 40px;
    padding: 15px;
}

.fxs_c_item.fxs_c_title {
    width: calc(100% - 50px);
}

.fxs_c_mobile_divider {
    float: left;
}

.fxs_c_mobile_divider.fxs_c_half {
    width: 50%;
}

.fxs_c_mobile_divider.fxs_c_half .fxs_c_item {
    width: 50%;
}

.fxs_c_item.type {
    width: 100%;
}

.fxs_c_collapsible .fxs_c_right {
    width: 150px;
}

.fxs_c_collapsible .fxs_c_left {
    width: calc(100% - 150px);
}