.fxs_header {
    display: block;
}

.fxs_mobile_divider,
.fxs_divider {
    width: auto;
}

.fxs_second.fxs_divider {
    width: calc(100% - 450px);
}

.fxs_item.fxs_impact {
    width: 20px;
    margin: 0;
}

.fxs_item.fxs_flag {
    width: 20px;
    padding: 7px 5px;
}

.fxs_item {
    min-height: 40px;
    line-height: 30px;
}

.fxs_item.fxs_expandable {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.fxs_item>label {
    display: none;
}

.fxs_item.type {
    width: 287px;
}

.fxs_collapsible .fxs_right {
    width: 150px;
}

.fxs_collapsible .fxs_left {
    width: calc(100% - 150px);
}