.fxs_header {
    display: none;
}

.fxs_item {
    min-height: 40px;
    line-height: 30px;
}

.fxs_first.fxs_divider {
    width: 40px;
}

.fxs_third.fxs_divider,
.fxs_second.fxs_divider {
    width: calc(100% - 40px);
}

.fxs_item>label {
    font-weight: 300;
}

.fxs_item>label,
.fxs_item>span {
    width: 100%;
    float: left;
}

.fxs_item.fxs_expandable {
    display: none;
}

.fxs_item.fxs_impact {
    margin: 0 10px
}

.fxs_item.fxs_flag {
    width: 40px;
    padding: 15px;
}

.fxs_item.fxs_title {
    width: calc(100% - 50px);
}

.fxs_mobile_divider {
    float: left;
}

.fxs_mobile_divider.fxs_half {
    width: 50%;
}

.fxs_mobile_divider.fxs_half .fxs_item {
    width: 50%;
}

.fxs_item.type {
    width: 100%;
}