.fxs_c_item .fxs_c_flag {
    display: inline-block;
    height: 11px;
    width: 14px;
    background-image: url("https://staticcontent.azureedge.net/website/img/sprites/sprite-flags5.png");
    color: transparent;
    fxs_c_left: 0;
}

.fxs_c_ae {
    background-position: 0 0;
}


/* emirates arabes */

.fxs_c_ar {
    background-position: -14px 0;
}


/* Argentina  */

.fxs_c_at {
    background-position: -28px 0;
}


/* Austria  */

.fxs_c_au {
    background-position: -42px 0;
}


/* Australia  */

.fxs_c_be {
    background-position: -56px 0;
}


/* Belgica  */

.fxs_c_bg {
    background-position: -70px 0;
}


/* Bulgaria  */

.fxs_c_br {
    background-position: -84px 0;
}


/* Brazil  */

.fxs_c_ca {
    background-position: -98px 0;
}


/* Canada  */

.fxs_c_cat {
    background-position: -112px 0;
}


/* Catalonia  */

.fxs_c_ch {
    background-position: -126px 0;
    background-color: #F00;
}


/* Suiza (schweiz)  */

.fxs_c_cl {
    background-position: -140px 0;
}


/* Chile  */

.fxs_c_cn {
    background-position: -154px 0;
}


/* China  */

.fxs_c_co {
    background-position: -168px 0;
}


/* Colombia  */

.fxs_c_cz {
    background-position: -182px 0;
}


/* Republica Checa (czech) */

.fxs_c_de {
    background-position: -196px 0;
}


/* Alemania  */

.fxs_c_dk {
    background-position: -210px 0;
}


/* Dinamarca */

.fxs_c_dz {
    background-position: -224px 0;
}


/* Algeria */

.fxs_c_ee {
    background-position: -238px 0;
}


/* Estonia */

.fxs_c_eg {
    background-position: -252px 0;
}


/* Egipto */

.fxs_c_emu {
    background-position: -266px 0;
}


/* European Monetary Union */

.fxs_c_es {
    background-position: -280px 0;
}


/* Espanya*/

.fxs_c_fi {
    background-position: -294px 0;
}


/* Finland */

.fxs_c_fr {
    background-position: -308px 0;
}


/* Francia */

.fxs_c_gr {
    background-position: -322px 0;
}


/* Grecia  */

.fxs_c_hk {
    background-position: -336px 0;
}


/* Hong Kong */

.fxs_c_hu {
    background-position: -350px 0;
}


/* Hungria */

.fxs_c_id {
    background-position: -364px 0;
}


/* Indonesia */

.fxs_c_ie {
    background-position: -378px 0;
}


/* Ireland */

.fxs_c_il {
    background-position: -392px 0;
}


/* Israel */

.fxs_c_in {
    background-position: -406px 0;
}


/* India */

.fxs_c_ir {
    background-position: -420px 0;
}


/* Iran */

.fxs_c_is {
    background-position: -434px 0;
}


/* Islandia */

.fxs_c_it {
    background-position: -448px 0;
}


/* Italia */

.fxs_c_jp {
    background-position: -462px 0;
}


/* Japon */

.fxs_c_kr {
    background-position: -476px 0;
}


/* Korea del sur */

.fxs_c_lt {
    background-position: -490px 0;
}


/* Lithuania */

.fxs_c_lv {
    background-position: -504px 0;
}


/* Latvia */

.fxs_c_mt {
    background-position: -518px 0;
}


/* Malta */

.fxs_c_mx {
    background-position: -532px 0;
}


/* Mexico */

.fxs_c_my {
    background-position: -546px 0;
}


/* Malaysia */

.fxs_c_ng {
    background-position: -560px 0;
}


/* Nigeria */

.fxs_c_nl {
    background-position: 0 -11px;
}


/* Netherlands */

.fxs_c_no {
    background-position: -14px -11px;
}


/* Noruega */

.fxs_c_nz {
    background-position: -28px -11px;
}


/* Nueva Zelanda */

.fxs_c_pe {
    background-position: -42px -11px;
}


/* Peru */

.fxs_c_ph {
    background-position: -56px -11px;
}


/* Phillippines/Filipinas */

.fxs_c_pk {
    background-position: -70px -11px;
}


/* Pakistan */

.fxs_c_pl {
    background-position: -84px -11px;
}


/* Polonia */

.fxs_c_pt {
    background-position: -98px -11px;
}


/* Portugal */

.fxs_c_ro {
    background-position: -112px -11px;
}


/* Romania */

.fxs_c_ru {
    background-position: -126px -11px;
}


/* Rusia */

.fxs_c_sa {
    background-position: -140px -11px;
}


/* Saudi Arabia */

.fxs_c_se {
    background-position: -154px -11px;
}


/* Suecia */

.fxs_c_sg {
    background-position: -168px -11px;
}


/* Singapur */

.fxs_c_sk {
    background-position: -182px -11px;
}


/* Slovakia */

.fxs_c_th {
    background-position: -196px -11px;
}


/* Thailand */

.fxs_c_tr {
    background-position: -210px -11px;
}


/* Turquia */

.fxs_c_tw {
    background-position: -224px -11px;
}


/* Taiwan */

.fxs_c_ua {
    background-position: -238px -11px;
}


/* Ukrania */

.fxs_c_uk,
.fxs_c_en {
    background-position: -252px -11px;
}


/* UK, Reino Unido */

.fxs_c_us {
    background-position: -266px -11px;
}


/* USA */

.fxs_c_ve {
    background-position: -280px -11px;
}


/* Venezuela */

.fxs_c_vn {
    background-position: -294px -11px;
}


/* Vietnam */

.fxs_c_za {
    background-position: -308px -11px;
}